.mta/*
.vscode/settings.json
ratings_frontend/node_modules
*.jar
.mta/log.txt
*.mtar
ratings_backend/package-lock.json
ratings_frontend/package-lock.json
ratings_frontend/dist/di.code-validation.core_issues.json
tweet_comments/package-lock.json
